.container {
  font-family: "Shadows Into Light", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #899598;
}
.container h1 {
  padding: 0.5em;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: auto auto;
}
.container .cards .card {
  background-color: black;
  color: azure;
  padding: 0.5em;
}
.container .cards .card:hover {
  transform: translateY(-30px);
  transition: 0.5s transform;
}

.container .cards .card .img {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
}
.container .cards .card .img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.container .cards .card .img:hover:before {
  opacity: 0.6;
}
